body {
  /*margin: 0;*/
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px; /*for header only*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 20px;
  padding-left: 60px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0px 200px; /* padding from bo */
}

nav a {
  margin: 0 10px; /* Space between About,Services, Contact */
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 18px;
}
p {
  text-align: center;
}

section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#church-image {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h3 {
  text-align: center;
}

figure {
  border: 1px solid rgb(159, 154, 154);
  padding: 5px;
  text-align: center;
  margin: 0 -1px; /*Make them next to eact other*/
  margin-bottom: 5px;
  width: 500px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

#church3 {
  width: 500px;
  height: 300px;
  padding-bottom: 5px;
}

#church2 {
  width: 500px;
  height: 300px;
}

footer {
  background-color: #333;
  color: #fff;
  height: 35px;
  font-size: small;
  text-align: center;
  margin-top: 120px;
}

footer p {
  padding-top: 10px;
  padding-bottom: 10px;
}
